<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button id="batchTranslateBtn">batch translate</button>
<div id="container"></div>
<script src="/components/jquery/dist/jquery.min.js"></script>
<script>
    var arr=[
        "java5之后，Java提供了一种更简洁的循环：foreach循环，这种循环遍历数组和集合更加简洁。使用foreach循环遍历数组时，无须获得数组和集合长度，无须根据索引来访问数组元素，foreach循环自动遍历数组和集合的每一个元素。",
        "一直很想了解一下爬虫这个东西的，完全是出于兴趣，其实刚开始是准备用python的，但是由于种种原因选择了java,此处省略很多字... 总之，如果你想做一件事情的话就尽快去做吧，千万不要把战线拉得太长了，否则时间一长其实发现自己什么都没做... 拖延症就是这样慢慢形成了。",
        "注意：使用foreach循环迭代数组元素时，并不能改变数组元素的值，因此不要对foreach的循环变量赋值",
        "从上面结果可以看出，由于在foreach循环中对数组进行赋值，结果导致不能正确遍历数组元素。而且当再次访问第一个数组元素时，发现数组元素依然没有改变。",
        "版权声明：本文为博主原创文章，未经博主允许不得转载。",
        "不知大家是否还记得，就在大约1年前德国当时的外交部长加布里尔曾公开指控咱们中国在“分裂”欧洲。他的理由是，中国的“16+1中国-中东欧国家领导人会议”和“一带一路”等平台令中东欧地区的国家对欧盟“离心离德”，而这不仅不利于欧洲的团结，还会令这些国家被中国掌控。",
        "而尽管当时咱们中国外交部表示这个说法极为荒诞，欧盟还是开始针对我们展开了行动，很快制定好了一个“外资审查机制”——针对的正是来自的中国投资。",
        "可讽刺的是，就在这欧盟天天神经质般地防着咱中国对他们所谓的“分裂”时，美国总统特朗普却抢着先把这件事给干了……",
        "原来，根据美国《华盛顿邮报》的披露，今年4月特朗普在会见前来劝说他不要对欧盟发动贸易战的法国总统马克龙时，曾对法国人提出了：“你们法国为啥不离开欧盟呢？”",
        "特朗普继续对马克龙说：“如果你们法国退出欧盟，我们就可以直接进行双边贸易的谈判，那么美国就可以给法国更优惠的贸易待遇……”",
        "《华盛顿邮报》在这篇标题为“特朗普正在动摇欧洲”的文章中表示，这个信息是两位来自欧洲的官员透露的，而美国白宫虽然拒绝评论此事，但也没有否认这一情况。",
        "于是，此事也很快引起了欧洲方面的强烈关注，不少欧洲媒体都转载了《华盛顿邮报》的这篇报道。其中英国《卫报》就评论说，尽管此事法国政府也拒绝回应，但《华盛顿邮报》披露的这一情况确实也符合特朗普对欧盟等国际组织所一贯持有的抵触态度。",
        "不过，截至目前，欧盟方面或是其主要成员国还都没有资深官员对《华盛顿邮报》披露的这一事件进行表态。",
        "然而，这还不是最让欧盟在中国面前“难堪”的场景。因为根据美国另一家主流媒体CNN的曝光，就在这场4月的见面会上，法国总统马克龙还一度主动用“中国”与特朗普套近乎，称“让我们携手合作吧，我们共同的麻烦可是中国”。",
        "可特朗普的回复却仿佛一记大耳光打在了他的脸上：“你们欧盟在贸易上比中国还恶劣”……",
        "另外，特朗普还特别点名了欧盟的核心成员德国，称德国在尤其是汽车贸易上对美国很不公平。",
        "德国自然也对特朗普的这番说法很不满，前几天，德国新任外交部长马斯就斥责特朗普的做法正在令世界变得不再安全，令美国失信于世界。",
        "可同时，他却仍然把咱中国视为“分裂”欧洲的敌手，呼吁欧盟要团结起来对付咱们。",
        "而且马斯在说这番话前才刚刚见了咱中国外长王毅。当时王毅外长已经明确告诉他，一个分化和弱势的欧洲也并不符合中国的利益，而中国与中东欧国家的合作是为了缩小欧盟内部的差距，从而能帮助欧盟推进其一体化的进程，而不是分裂欧洲。",
        "不知德国人这种美国和中国一起排斥的奇怪态度，是不是因为他们想趁机进一步扩大自己在欧盟中的影响力，实现自己当欧盟老大的野心？",
        "但布鲁塞尔的欧盟官员和更多欧盟国家则已经开始转变对华思维，认为面对特朗普对欧盟的屡屡挑衅和背弃——例如废除伊朗核协议和发动贸易战——欧盟是时候和中国团结起来对抗特朗普的美国了。",
        "前两天刚刚成功举行的第七次中欧经贸高层对话就引起了不少美国媒体的关注和担忧。美国CNBC新闻网就警告说，特朗普的做法已经令欧盟选择和中国组队反击美国了，并重点引述了欧洲委员会副主席卡泰宁对于中欧下一步合作的乐观评论。",
        "另一家西方媒体《商业内幕》则惊叹于特朗普居然让欧洲和中国这对经常对立的双方走到了一起……",
        "就连法国方面也开始转变态度。在前几天访华时，法国总理菲利普就在中国顶尖名校清华大学发表演讲说：“法国必须与中国合作一同维护世界的多极化”。",
        "最后，耿直哥觉得，只要能别在面对美国时总“弯着腰”，而在面对中国时又总“梗着脖”，能有点自己的“独立精神”，莫以“意识形态”站队，欧洲就能有效维护世界的多极化以及自己的利益。",
        "否则，欧洲只能在反复和纠结中，不断被特朗普的美国牵着鼻子走，看着自己的利益一点点被美国蚕食……",
        "第一天，就是两场不可错过的对决：C罗领衔的葡萄牙对阵乌拉圭，梅西则率阿根廷挑战法国。",
        "一旦葡萄牙和阿根廷顺利过关，C罗梅西就将在八强战中上演正面对抗，在世界杯赛场，这绝对是难得一见的巅峰对决。",
        "但客观来看，两队想要跨过淘汰赛第一关，都难度颇高。两位巨星，或许很可能遭遇淘汰赛“一轮游”的结局。",
        "此前结束的C组赛事中，法国队3战2胜1平，没有遭遇太多挑战便以小组头名顺利出线，相比直到最后一刻才绝杀尼日利亚，抢到小组第二的阿根廷，从气势上就已经占了上风。"
    ]

    $(function(){
        $('#batchTranslateBtn').on('click', function(){
            for(var s of arr){
                $.ajax({
                    url: '/api/v2/translate',
                    data: {
                        source: s
                    },
                    type: 'POST',
                    dataType: 'json'
                }).then((res) => {
                    $('#container').append(`<p>${res.translation}</p><hr>`)
                }).catch((e) => {
                    alert(e)
                })
            }
        })
    })
</script>
</body>
</html>